.body{
    margin-top: 0;
    width: 1770px ;
    height: 4000px;
}
.header{
    margin-left: 50%;
    /* position: fixed; */
    /* background-color: rgb(117, 114, 114); */
    /* width: 1770px; */
    width: 50%;
    height: 30px;
}
.header ul li{
    padding:10px 30px;
    display: inline-block;
}
.header ul li a{
    color: black;
    text-decoration: none;
}
.header ul li a:hover{
    color: blue;
}


.add{
    background-color: teal;
    margin-top: 100px;
    margin-left: 92%;
    width: 70px;
    height: 70px;
    position: fixed;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281);
    background-image: url(../images/photos/addd_02.png);
}
.add :hover{
    transform: scale(1.1);
}


.title{
    width: 100%;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
}

.column{
    margin-top: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    /* color: rgba(0, 0, 0, 0); */
    color: black;
    transition-duration: 2s;
}

/* .column :hover{
    color: black;
} */


.main{
    background-color:white;
    width: 100%;
    height: 3000px;
}


.imgp{
    margin: 50px auto;
    width: 80%;
    height: 350px;
    background-color: aliceblue;
    border-style: none none solid none;
}

.img{
    /* margin: 50px auto; */
    width: 504px;
    height: 350px;
    /* background-color: aliceblue; */
    border-style: none solid solid none;
    display:inline;
    float: left;
    
}
.img img{
    width: 500px;
    height: 345px;
    transition: all 2s;
}
.p{ 
    width: 800px;
    height: 345px;
    /* background-color: blue; */
    display:inline;
    float: left;
    margin-left: 50px;

}


.footer{
    width: 100%;
    height: 200px;
    background-color: tomato;
}

/* @keyframes spin{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(360deg);
    }
}
.img :hover{
    animation: spin 3s ;
} */
.img :hover{
    transform: rotateY(360deg);
}




/* #heart{
    margin-left: 600px;
    width: 200px;
    height: 30%;
}
#heart:before,#heart:after{
    width: 15px;
    height: 24.5px;
    po
} */